In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler  #コレわかんない
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\ryosuke.nishioka\\Kaggle\\2. Sales'

In [4]:
df_train = pd.read_csv('train.csv')

In [12]:
df_train_abst  = df_train[['SalePrice', 'OverallQual', 'GrLivArea', 'GarageCars', 'TotalBsmtSF', 'FullBath', 'YearBuilt']]

In [13]:
df_train_abst.head()

,SalePrice,OverallQual,GrLivArea,GarageCars,TotalBsmtSF,FullBath,YearBuilt
0,208500,7,1710,2,856,2,2003
1,181500,6,1262,2,1262,2,1976
2,223500,7,1786,2,920,2,2001
3,140000,7,1717,3,756,1,1915
4,250000,8,2198,3,1145,2,2000

In [16]:
#欠損値があるかどうかを調べる

df_train_abst_null = df_train_abst.isnull()
df_train_abst_null.head()

,SalePrice,OverallQual,GrLivArea,GarageCars,TotalBsmtSF,FullBath,YearBuilt
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False

In [17]:
# 列ごとに欠損値かどうか
df_train_abst_column = df_train_abst.isnull().any(0)
df_train_abst_column

SalePrice      False
OverallQual    False
GrLivArea      False
GarageCars     False
TotalBsmtSF    False
FullBath       False
YearBuilt      False
dtype: bool

In [19]:
# 行ごとに欠損値かどうか
df_train_abst_row = df_train_abst.isnull().any(1)
df_train_abst_row[15:21]

15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool

In [21]:
# 欠損値をカウント
df_train_abst_number = df_train_abst.isnull().sum()
df_train_abst_number

SalePrice      0
OverallQual    0
GrLivArea      0
GarageCars     0
TotalBsmtSF    0
FullBath       0
YearBuilt      0
dtype: int64

In [ ]:
#問題なかったww