In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
df = pd.read_csv('train.csv')
df_train = df[['SalePrice', 'OverallQual', 'GrLivArea', 'GarageCars', 'TotalBsmtSF', 'FullBath', 'YearBuilt']]

df_train.head()

,SalePrice,OverallQual,GrLivArea,GarageCars,TotalBsmtSF,FullBath,YearBuilt
0,208500,7,1710,2,856,2,2003
1,181500,6,1262,2,1262,2,1976
2,223500,7,1786,2,920,2,2001
3,140000,7,1717,3,756,1,1915
4,250000,8,2198,3,1145,2,2000

In [5]:
# 説明変数と目的変数
X, y = df_train.drop('SalePrice', 1), df_train.SalePrice

In [7]:
from sklearn.linear_model import RANSACRegressor

# RANSACの作成
ran = RANSACRegressor(min_samples=int(len(X) * 0.9),
                      random_state=0)
# フィッティング
model = ran.fit(X, y)
# パラメータ（定数項と係数）の確認
ran.estimator_.intercept_, ran.estimator_.coef_

(-706005.2405882915,
 array([16316.38178663,    51.33568501, 12602.09476156,    29.84940061,
        -4368.71146983,   334.65536743]))

In [8]:
df_test = pd.read_csv('test.csv')

df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [10]:
df_output = df_test[['OverallQual', 'GrLivArea', 'GarageCars', 'TotalBsmtSF', 'FullBath', 'YearBuilt']]

df_output.head()

   OverallQual  GrLivArea  GarageCars  TotalBsmtSF  FullBath  YearBuilt
0            5        896         1.0        882.0         1       1961
1            6       1329         1.0       1329.0         1       1958
2            5       1629         2.0        928.0         2       1997
3            6       1604         2.0        926.0         2       1998
4            8       1280         2.0       1280.0         2       1992

In [23]:
df_output.shape

(1459, 6)

In [12]:
# モデルに打ち込んだら欠損値があったので、処理する。
# 列ごとに欠損値かどうか
df_output_column = df_output.isnull().any(0)
df_output_column

OverallQual    False
GrLivArea      False
GarageCars      True
TotalBsmtSF     True
FullBath       False
YearBuilt      False
dtype: bool

In [13]:
# 欠損値をカウント
df_output_number = df_output.isnull().sum()
df_output_number

OverallQual    0
GrLivArea      0
GarageCars     1
TotalBsmtSF    1
FullBath       0
YearBuilt      0
dtype: int64

In [17]:
#1つだけなので、平均を割り当てる
from sklearn.preprocessing import Imputer

#  欠損値(NaN) に対して 平均値(mean) を割り当てるImputerオブジェクトを生成
imp = Imputer(missing_values="NaN", strategy="mean")

# データセットの学習
imp.fit(df_output[["GarageCars"]])

# strategy="mean"に基づいて欠損値(NaN)を平均値に置き換える
values = imp.transform(df_output[["GarageCars"]])

# DataFrameに変換したデータを代入する
df_output[["GarageCars"]] = values

df_output_number = df_output.isnull().sum()
df_output_number

OverallQual    0
GrLivArea      0
GarageCars     0
TotalBsmtSF    1
FullBath       0
YearBuilt      0
dtype: int64

In [18]:
#  欠損値(NaN) に対して 平均値(mean) を割り当てるImputerオブジェクトを生成
imp = Imputer(missing_values="NaN", strategy="mean")

# データセットの学習
imp.fit(df_output[["TotalBsmtSF"]])

# strategy="mean"に基づいて欠損値(NaN)を平均値に置き換える
values = imp.transform(df_output[["TotalBsmtSF"]])

# DataFrameに変換したデータを代入する
df_output[["TotalBsmtSF"]] = values

df_output_number = df_output.isnull().sum()
df_output_number

OverallQual    0
GrLivArea      0
GarageCars     0
TotalBsmtSF    0
FullBath       0
YearBuilt      0
dtype: int64

In [21]:
y_pred = model.predict(df_output)
y_pred

array([112393.17227151, 163276.62163566, 171676.2783305 , ...,
       151707.21135587, 114859.71660918, 236647.81357525])

In [30]:
df_output_pred = pd.DataFrame(y_pred, columns=['SalePrice'])
df_output_pred.head()

       SalePrice
0  112393.172272
1  163276.621636
2  171676.278330
3  186984.224558
4  211542.981798

In [31]:
df_output_id = df_test[['Id']]
df_output_id.head()

     Id
0  1461
1  1462
2  1463
3  1464
4  1465

In [32]:
output = pd.concat([df_output_id, df_output_pred], axis=1)
output

        Id      SalePrice
0     1461  112393.172272
1     1462  163276.621636
2     1463  171676.278330
3     1464  186984.224558
4     1465  211542.981798
5     1466  183063.615358
6     1467  170792.866651
7     1468  175759.196459
8     1469  202654.465544
9     1470  110972.083963
10    1471  204226.496705
11    1472  124817.744227
12    1473  115145.284191
13    1474  169570.162283
14    1475  145257.897460
15    1476  309511.725780
16    1477  251267.080408
17    1478  278747.343910
18    1479  272497.912740
19    1480  363578.158710
20    1481  288958.360330
21    1482  223534.814648
22    1483  186832.881769
23    1484  188951.788598
24    1485  177322.955869
25    1486  209572.739268
26    1487  297916.593162
27    1488  254068.898305
28    1489  195882.265950
29    1490  198523.534097
...    ...            ...
1429  2890   63744.892034
1430  2891  163630.498447
1431  2892   26903.597327
1432  2893  111117.087936
1433  2894   34272.548999
1434  2895  250204.547087
1435  2896  243720.418711
1436  2897  202568.552986
1437  2898  205400.115957
1438  2899  231684.933170
1439  2900  165090.470136
1440  2901  201401.839669
1441  2902  190916.539882
1442  2903  276776.393614
1443  2904  290113.255896
1444  2905   53594.242363
1445  2906  226860.401857
1446  2907  120245.688060
1447  2908  113069.085562
1448  2909  198034.364965
1449  2910   65309.252865
1450  2911   99790.395185
1451  2912  145516.739990
1452  2913   99121.084450
1453  2914   86518.989689
1454  2915   86518.989689
1455  2916   99121.084450
1456  2917  151707.211356
1457  2918  114859.716609
1458  2919  236647.813575

[1459 rows x 2 columns]

In [33]:
output.to_csv("RANSACRegressor_20180728.csv", index = False)

# 反省
4278位だった...
もっと変数の扱いを丁寧にするべきだった。

→上位ランカーの人は、ダミー変数化だったり変数の意味を考えて自分で二値の分類をしてみたりしてる。


→変数選択はしなくて良いかも。クオリティーコントロール程度に留めておくのがベターかなぁ。（多重共線性とか）

（そこまで相関強くなくても、結果に寄与する変数をカットしてしまってたんだろうな。）

└その上で、正則化して係数に重み付けする。

→多重回帰は、変数の正規性を前提としているので、その確認も足りていなかった。

    
とりあえず次は、非線形系のモデルを試す！