In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('kc_question.csv')

In [2]:
df.isnull().any()

q1     False
q2     False
q3     False
q4     False
q5     False
q6     False
q7     False
q8     False
q9     False
q10    False
dtype: bool

In [3]:
df.describe()

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,0.382716,0.456790,0.469136,0.320988,0.456790,0.716049,0.432099,0.086420,0.123457,0.592593
std,0.489078,0.501233,0.502156,0.469765,0.501233,0.453723,0.498454,0.282734,0.331010,0.494413
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
from sklearn.cluster import k_means

df_train = df.copy()

n_cluster = 5
centroid, label, inertia = k_means(df_train, n_cluster, random_state = 0)
centroid, label, inertia

(array([[ 4.70588235e-01,  8.23529412e-01, -1.11022302e-16,
          5.29411765e-01,  8.23529412e-01,  5.29411765e-01,
          5.88235294e-02,  2.77555756e-17,  5.88235294e-02,
          8.23529412e-01],
        [ 3.68421053e-01, -5.55111512e-17,  7.36842105e-01,
          3.68421053e-01,  6.31578947e-01,  6.84210526e-01,
          5.26315789e-02,  2.77555756e-17,  5.26315789e-02,
          4.73684211e-01],
        [ 8.66666667e-01,  8.66666667e-01,  4.00000000e-01,
          5.33333333e-01, -1.11022302e-16,  5.33333333e-01,
          6.00000000e-01,  2.00000000e-01,  6.66666667e-02,
          2.66666667e-01],
        [ 1.36363636e-01,  9.09090909e-02,  5.00000000e-01,
          1.11022302e-16,  1.36363636e-01,  9.54545455e-01,
          9.09090909e-01,  1.81818182e-01,  3.18181818e-01,
          9.09090909e-01],
        [ 0.00000000e+00,  1.00000000e+00,  8.75000000e-01,
          2.50000000e-01,  1.00000000e+00,  8.75000000e-01,
          5.00000000e-01,  0.00000000e+00,  0.00000000e+00,
          1.25000000e-01]]),
 array([1, 1, 3, 2, 4, 2, 4, 0, 3, 4, 2, 0, 4, 3, 3, 0, 3, 1, 0, 1, 3, 3,
        1, 4, 1, 2, 0, 1, 3, 0, 3, 1, 3, 0, 1, 1, 2, 0, 0, 3, 4, 2, 0, 2,
        3, 1, 4, 3, 3, 2, 0, 2, 1, 2, 1, 1, 3, 1, 2, 2, 0, 0, 3, 3, 1, 1,
        3, 3, 0, 3, 2, 3, 3, 0, 1, 1, 2, 2, 0, 4, 0]),
 105.34557416267943)

In [6]:
test = []

# ラベル0を取り出す
df0 = df_train[label == 0]
df0_mean = df0.mean()
test.append(df0_mean)

In [15]:
df0.count()

q1     17
q2     17
q3     17
q4     17
q5     17
q6     17
q7     17
q8     17
q9     17
q10    17
dtype: int64

In [8]:
# ラベル1を取り出す
df1 = df_train[label == 1]
df1_mean = df1.mean()
# df1_mean
test.append(df1_mean)

In [9]:
df1.count()

q1     19
q2     19
q3     19
q4     19
q5     19
q6     19
q7     19
q8     19
q9     19
q10    19
dtype: int64

In [10]:
# ラベル2を取り出す
df2 = df_train[label == 2]
df2_mean = df2.mean()
# df2_mean
test.append(df2_mean)

In [11]:
df2.count()

q1     15
q2     15
q3     15
q4     15
q5     15
q6     15
q7     15
q8     15
q9     15
q10    15
dtype: int64

In [12]:
# ラベル3を取り出す
df3 = df_train[label == 3]
df3_mean = df3.mean()
# df2_mean
test.append(df3_mean)

In [16]:
df3.count()

q1     22
q2     22
q3     22
q4     22
q5     22
q6     22
q7     22
q8     22
q9     22
q10    22
dtype: int64

In [13]:
# ラベル3を取り出す
df4 = df_train[label == 4]
df4_mean = df4.mean()
# df2_mean
test.append(df4_mean)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# RecruitとCustomの散布図
plt.scatter(df0['q2'], df0['q7'])
plt.scatter(df1['q1'], df0['q10'])
# plt.scatter(df2['q1'], df0['q10'])
plt.xlabel('Oct-17')
plt.ylabel('Feb-18');

In [17]:
df4.count()

q1     8
q2     8
q3     8
q4     8
q5     8
q6     8
q7     8
q8     8
q9     8
q10    8
dtype: int64

In [14]:
test

[q1     0.470588
 q2     0.823529
 q3     0.000000
 q4     0.529412
 q5     0.823529
 q6     0.529412
 q7     0.058824
 q8     0.000000
 q9     0.058824
 q10    0.823529
 dtype: float64, q1     0.368421
 q2     0.000000
 q3     0.736842
 q4     0.368421
 q5     0.631579
 q6     0.684211
 q7     0.052632
 q8     0.000000
 q9     0.052632
 q10    0.473684
 dtype: float64, q1     0.866667
 q2     0.866667
 q3     0.400000
 q4     0.533333
 q5     0.000000
 q6     0.533333
 q7     0.600000
 q8     0.200000
 q9     0.066667
 q10    0.266667
 dtype: float64, q1     0.136364
 q2     0.090909
 q3     0.500000
 q4     0.000000
 q5     0.136364
 q6     0.954545
 q7     0.909091
 q8     0.181818
 q9     0.318182
 q10    0.909091
 dtype: float64, q1     0.000
 q2     1.000
 q3     0.875
 q4     0.250
 q5     1.000
 q6     0.875
 q7     0.500
 q8     0.000
 q9     0.000
 q10    0.125
 dtype: float64]